article.payment-method {
    padding-top: 20px;
    p {
        margin: 10px 0;
        font-size: 13px;
        font-weight: 400;
    }
    div.fields {
        display: flex;
        flex-flow: wrap;
        padding-top: 10px;
        gap: 20px;
        width: 70%;
        & > div {
            display: flex;
            flex-flow: column;
            width: 40%;
            min-width: 200px;
            label {
                margin-bottom: 5px;
            }
        }
    }
}
