aside.options {
    display: flex;
    flex-flow: column;
    width: 300px;
    max-width: 40%;
    background: var(--branco);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    padding: 14px;
    margin-top: 20px;

    h2 {
        color: var(--cinza-base);
        font-size: 18px;
        text-transform: none;
    }
    ul {
        display: flex;
        flex-flow: column;
        gap: 20px;

        li {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            h3 {
                font-size: 16px;
                color: var(--azul-base-2);
                max-width: calc(100% - 35px);
            }
            p {
                font-size: 12px;
                font-weight: 400;
                color: var(--cinza-base);
            }
        }
    }
}
